.contenido {
  max-width: 1170px;
  margin: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.tarjeta-contacto {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.tarjeta-contacto > * {
  padding: 1em;
}

.contacto-form {
  background: #222222;
}

.contacto-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacto-form form .bloque {
  grid-column: 1/3;
}

.contacto-form form div {
  margin: 0;
  padding: 1em;
}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #da1929;
}

.contacto-form form button {
  background: #97220d;
  color: #000;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contacto-form form button:hover,
.contacto-form form button:focus {
  background: #da1929;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contacto-info {
  background: #000;
}

.contacto-form h2 {
  color: red;
  text-decoration: underline;
  font-family: "Lato", sans-serif;
}

.contacto-form label {
  color: #fff;
}

.contacto-info h3 {
  color: red;
  text-decoration: underline;
  font-family: "Lato", sans-serif;
}

.contacto-info li,
.contacto-info p {
  color: #fff;
}

.contacto-info h3,
.contacto-info ul,
.contacto-info div {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contacto-info ul {
  list-style: none;
  padding: 0;
}

.contacto-info ul li {
  padding: 0.3em;
}

@media (min-width: 700px) {
  .tarjeta-contacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .tarjeta-contacto > * {
    padding: 2em;
  }

  .contacto-info h3,
.contacto-info ul,
.contacto-info div {
    padding: 1em;
    text-align: left;
  }
}
.card {
  margin: 3rem 2rem;
}

.contenedorCards {
  margin: 10%;
  width: max-content !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../imagenes/fondo1.jpg);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  font-size: 2rem;
  color: brown;
  margin: 0.2rem;
}

h4 {
  font-size: 1rem;
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.encabezadoLogo {
  width: 200px;
}

.white {
  background-color: rgba(255, 255, 255, 0.699);
}

.zocalo {
  background-color: #7a7575;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zocaloNavRedes {
  display: flex;
  flex-direction: row;
}

.zocaloContacto {
  display: flex;
  flex-direction: row;
}

.zocaloContacto > h4 {
  margin: 0.7rem;
  font-weight: 300;
}

.zocaloUp > i {
  font-size: 3rem;
}

.card {
  margin: 3rem 1rem;
}

.contenedorCards {
  margin: 10%;
}

.btn {
  background-color: brown;
  border-color: #5f0101;
}

.btn:hover {
  background-color: #ff9a9a;
  border-color: #5f0101;
}

.btn:visited {
  background-color: brown;
  border-color: #5f0101;
}

.btn:active {
  background-color: brown;
  border-color: #5f0101;
}

.contenedorForm {
  display: flex;
  justify-content: center;
}

/* SERVICIOS */
.section-heading {
  color: #fff;
  font-size: 2rem;
}

.section-subheading {
  color: #fff;
  text-decoration: underline;
}

.my-3 {
  color: #fff;
  font-size: 2rem;
}

.text-muted {
  color: #fff !important;
}

/* BOX CONOCENOS */
.about {
  background-color: #110d0d;
}

/* FIN DE BOX CONOCENOS */
@media screen and (max-width: 980px) {
  #contenedor {
    width: 90%;
  }

  #contenido {
    width: 60%;
  }

  #barra_lateral {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
